{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parentify - Платформа для родителей</title>
    <!-- <link rel="stylesheet" href="/static/css/font-awesome.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/static/suneditor/suneditor.min.css">
    <link rel="stylesheet" href="/static/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/filepond/filepond.css">
    <link rel="stylesheet" href="/static/filepond/filepond-plugin-image-edit.css">
    <link rel="stylesheet" href="/static/filepond/filepond-plugin-image-preview.css">
    <script src="/static/js/tailwind.js"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#f59fa8',
                        secondary: '#ec4899',
                    }
                }
            }
        }
    </script>
    <script src="/static/jquery/jquery-3.6.1.min.js"></script>
    <script src="/static/jquery-ui/jquery-ui.min.js"></script>
    <script src="/static/inputmask/jquery.inputmask.min.js"></script>

    <script src="/static/js/global.js"></script>
    <script src="/static/suneditor/suneditor.min.js"></script>
    <script src="/static/suneditor/lang_ru.js"></script>
    <script src="/static/js/widgets/html_editor.js"></script>

    <script src="/static/filepond/filepond.min.js"></script>
    <script src="/static/filepond/filepond-plugin-file-validate-type.min.js"></script>
    <script src="/static/filepond/filepond-image-preview.min.js"></script>
    <script src="/static/filepond/filepond.jquery.js"></script>
    <script src="/static/filepond/filepond-plugin-image-edit.js"></script>
    
    <script src="/static/js/widgets.js"></script>
    <script src="/static/js/modal.js"></script>
    <script type="text/javascript" src="/static/highcharts/highstock.js"></script>
    <script type="text/javascript" src="/static/highcharts/map.js"></script>
    <script type="text/javascript" src="/static/highcharts/data.js"></script>
    <script type="text/javascript" src="/static/highcharts/highcharts-more.js"></script>
    <script type="text/javascript" src="/static/highcharts/exporting.js"></script>
    <script type="text/javascript" src="/static/highcharts/offline-exporting.js"></script>
    <script type="text/javascript" src="/static/highcharts/accessibility.js"></script>
</head>
<body>
    {% block app %}
        {% block wrapper %}{% endblock %}
    {% endblock %}
    {% block messages %}{% endblock %}
</body>
</html>